<h1>Edit App post</h1>
<%= render partial: "form", locals: { app_post: @app_post } %>

<%= link_to 'Back', app_posts_path %>
<div class="delete-button-container" id="delete-button">
  <%= button_to "Delete", @app_post, method: :delete, data: { turbo_confirm: "Are you sure you want to delete this post?" }, class: "delete-button", id: "delete-post-button" %>
</div>

<script>
  document.getElementById('delete-post-button').addEventListener('click', function() {
    Swal.fire(
      'Good job!',
      'You clicked the button!',
      'success'
    );
  });
</script>
