<!DOCTYPE html>
<html>
  <head>
 <style>
      body {
        background-color: pink; 
      }
    </style>
  </head>
  <body class="prose mx-auto">
    <h1>New App Post</h1>
    <%= render partial: "form", locals: { app_post: @app_post } %>
  </body>
</html>