/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'font-awesome'

 *= require 'sweetalert2'

 *= require bootstrap


 
.button-animation {
    animation: scaleButton 0.3s ease-in-out;
  }
  
  
  .logout-button {
    background-color: darkgray;  
    color: white;               
    border: 1px solid black;    
    padding: 5px 10px;         
    border-radius: 5px;        
    text-decoration: none;      
    display: inline-block;      
    margin: 5px;                
    cursor: pointer;            
    transition: background-color 0.3s, color 0.3s; 
  }
  
  .logout-button:hover {
    background-color: rgb(128, 128, 128); 
  }
  
  
  .edit-button {
    background-color: rgb(134, 49, 49);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
  }
  
  
  .delete-button-container {
    display: inline-block;
    background-color: #ccc; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
    text-align: center; 
  }
  
  .delete-button-container:hover {
    background-color: #999999;
  }
  
  /* app/assets/stylesheets/custom.css */

.animate-edit-button {
  /* Add your animation styles here */
  /* For example, you can use CSS transitions for a smooth animation */
  transform: scale(1.1); /* Increase size on click */
  transition: transform 0.3s ease; /* Transition property and duration */
}

.animate-delete-button {
  /* Add your animation styles here */
  /* For example, you can use CSS transitions for a smooth animation */
  transform: scale(1.1); /* Increase size on click */
  transition: transform 0.3s ease; /* Transition property and duration */
}

.back-button {
  background-color: rgb(124, 106, 71);
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.animate-back-button {
  /* Add your animation styles here */
  /* For example, you can use CSS transitions for a smooth animation */
  transform: scale(1.1); /* Increase size on click */
  transition: transform 0.3s ease; /* Transition property and duration */
}
  

  